@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Signika Negative', sans-serif;
    background-color:rgb(237, 237, 228);
}

:root{
    --amarelo:  rgba(187, 187, 22, 0.65);
    --verde-claro: #2a890884; 
    --vermelho: rgb(157, 6, 6, 0.65);

}

span{
    font-size: 40px;
    font-weight: bolder;
}

.vermelho{
    color: var(--vermelho);
}

.Verde{
    color: var(--verde-claro);
}

.amarelo{
    color: var(--amarelo);
}

.titulo{
    margin-top: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.container{
    max-width:  500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.tentativa-container{
    margin-top: 1rem;
}

.chute-linha{
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.chute-coluna {
    background-color: #dedddb;
    color: rgb(12, 9, 9);
    font-weight: bolder;
    height: 48px;
    width: 48px;
    border: 1px solid rgb(12, 9, 9);
    border-radius: 0.25rem;
    margin-right:0.5rem;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.teclado-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5em;
}


#teclado-linha1, #teclado-linha2, #teclado-linha3, #teclado-apaga{
    display: flex;
    gap: .5em;

}

.tecla{
    padding: 10px;
    border-radius: .25em;
    cursor: pointer;
    border: 1px solid rgb(46, 46, 46);

}

#teclado-apaga > button{
    width: 100px;
}

.focus{
    border: 3px solid  rgb(12, 9, 9) ;
}

.errado{
    background-color:var(--vermelho);
    color: white;
}
.certo{
    background-color: var(--verde-claro);
    color: white;
}
.talvez{
    background-color: var(--amarelo);
    color: white;
}